{% extends "base.html" %}
{% block css %}
    {% load static %}
    <style>
        #div_digg {
            float: right;
            margin-bottom: 10px;
            margin-right: 30px;
            font-size: 12px;
            width: 128px;
            text-align: center;
            margin-top: 10px;
        }

        .diggit {
            float: left;
            width: 46px;
            height: 52px;
            background: url(/static/image/upup.gif) no-repeat;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            padding-top: 5px;
        }

        .buryit {
            float: right;
            margin-left: 20px;
            width: 46px;
            height: 52px;
            background: url(/static/image/downdown.gif) no-repeat;
            text-align: center;
            cursor: pointer;
            margin-top: 2px;
            padding-top: 5px;
        }

        .clear {
            clear: both;
        }
    </style>
    <link href="{% static 'css/comment/comment.css' %}" rel="stylesheet">
    <link href="{% static 'css/comment/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/markdown.css' %}">
    <link rel="stylesheet" href="{% static 'master/css/jquery-sinaEmotion-2.1.0.css' %}">
{% endblock %}

{% block verse %}

{% endblock %}

{% block main %}

    <div>
        <h1 class="text-center">{{ article_obj.title }}</h1>
        <p>{{ article_obj.content.content|safe }}</p>
        {#        点赞点踩#}
        <div class="clearfix">
            <div id="div_digg">
                <div class="diggit action">
                    <span class="diggnum" id="digg_count">{{ article_obj.up_num }}</span>
                </div>
                <div class="buryit action">
                    <span class="burynum" id="bury_count">{{ article_obj.down_num }}</span>
                </div>
                <div class="clear" style="color: red; padding-top: 12px; font-weight: 700;"></div>
                <div class="diggword" id="digg_tips">
                </div>
            </div>
        </div>
        {#下面是评论区域#}
        <div class="commentAll">

            <!--评论区域 begin-->
            <div class="reviewArea clearfix">
                <div class="flex-text-wrap face_box">
                    <pre class="pre"><span></span><br></pre>
                    <textarea class="content comment-input" placeholder="评论…" id="content"></textarea>
                </div>
                <a href="javascript:;" id="plBtn" class="plBtn">评论</a>
            </div>
            <!--评论区域 end-->
            {#            <div class="face_box">#}
            {#                <div id="feeling" class="textarea face_content" placeholder="说点儿什么吧" contenteditable="true"></div>#}
            {#                <div>#}
            {#                    <a class="face"><span></span>#}
            {#                        <p>添加表情</p></a>#}
            {#                    <button type="button" id="publish" onclick="publish()">发表</button>#}
            {#                </div>#}
            {#            </div>#}

            <!--回复区域 begin-->
            <div class="comment-show">
                {% for comment in comment_list %}
                    <div class="comment-show-con clearfix">
                        <div class="comment-show-con-img pull-left"><img class="pl-img" src="{{ comment.user.avatar.url }}" alt="">
                        </div>
                        <div class="comment-show-con-list pull-left clearfix" comment_id="{{ comment.pk }}">
                            <div class="pl-text clearfix">
                                <a style="font-size: 15px" href="{% url 'site' comment.user.username %}"
                                   class="comment-size-name">{{ comment.user.username }}</a>
                                <span style="font-size: 15px"> : {{ comment.comment_msg }}</span>
                            </div>
                            <div class="date-dz">
                                <span style="font-size: 13px"
                                      class="date-dz-left pull-left comment-time">{{ comment.comment_time|date:'Y-m-d H:i:s' }}</span>
                                <div class="date-dz-right pull-right comment-pl-block">
                                    {% if comment.user == request.user %}
                                        <a href="javascript:;" class="removeBlock">删除</a>
                                    {% endif %}
                                    <a href="javascript:;" ToUser="{{ comment.user.username }}"
                                       class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                                </div>
                            </div>
                            <div class="hf-list-con">
                                {% for commentreply in comment.commentreply_set.all %}
                                    <div class="all-pl-con" reply="{{ commentreply.pk }}">
                                        <div class="pl-text hfpl-text clearfix"><a style="font-size: 15px"
                                                                                   href="{% url 'site' commentreply.user.username %}"
                                                                                   class="comment-size-name">{{ commentreply.user.username }}</a><span
                                                class="my-pl-con"> : 回复<a style="font-size: 15px"
                                                                          href="{% url 'site' commentreply.to_user.username %}"
                                                                          class="atName">@{{ commentreply.to_user.username }}</a> : {{ commentreply.reply_msg }}</span>
                                        </div>
                                        <div class="date-dz"><span style="font-size:13px"
                                                                   class="date-dz-left pull-left comment-time">{{ commentreply.reply_time|date:'Y-m-d H:i:s' }}</span>
                                            <div class="date-dz-right pull-right comment-pl-block">
                                                {% if request.user == commentreply.user %}
                                                    <a href="javascript:;" class="removeBlock">删除</a>
                                                {% endif %}

                                                <a href="javascript:;"
                                                   class="date-dz-pl pl-hf hf-con-block pull-left">回复</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <!--回复区域 end-->
        </div>
    </div>

{% endblock %}


{% block js %}
    <script src="{% static 'master/js/jquery-sinaEmotion-2.1.0.js' %}"></script>
    <script src="{% static 'js/article.js' %}"></script>



{% endblock %}
